# Dependencies
node_modules/
mcp-server/.venv
mcp-client/.venv
# Builds
client/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Misc
.DS_Store
.env
.env
.venv
mcp-client/__pycache__
mcp-server/__pycache__